div.login { border:1px solid grey;
            background-color: F0F8FF ;
	    width:300;
	    height:400;
	    
	     

}


#header{background-color:#87CEEB;}

#top{background-color:white;}

#todoimage{float:left;}

a{text-decoratore:none;}

#topright{float:right;}
