input.button {
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
background-color: #dde3ef;
border-top-color:#ffcc00;
border-left-color:#ffcc00;
border-right-color:#039;
border-bottom-color:#039;
border:2px solid;
text-indent:2px;
}
body {background-color:white);
     }
table{
      width:450;
      border-style:;
      border-width:;  
      font-color:black;  
       
      }
td{}
a{ color:green;
   text-decoration: none;
	}

h2{color:red;}

fieldset{
	 width:600;
	 margin:0 auto;
	 border:0px;
	 background-color:F0F8FF;
	}
#topleft{float:left;}
#topright{float:right;}
#top{background-color:F0F8FF;}
#header{background-color:#87CEEB;}


#item_list{
	   height:600;
           width:620;
	   padding:px;
	   margin:0 auto;
	   background-color:F0F8FF;
	  }