input.button {
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
background-color: #dde3ef;
border-top-color:#ffcc00;
border-left-color:#ffcc00;
border-right-color:#039;
border-bottom-color:#039;
border:2px solid;
text-indent: 2px;
}
body {background-color:);
     }
table,td,th{
       
       border-collapse:collapse;
       border-color:;
       border:;
      }
h2{color:red;}

fieldset{
	 border:1px solid;
	 background-color:F0F8FF;
	}
#topleft{float:left;}
#topright{float:right;}
#top{background-color:F0F8FF;}

#deleteall{align:bottom;}