<html>
<head>
<link rel="stylesheet" href="/static/css/style2.css">
</head>

<body>
<div id="top">
<div id="topleft">
<a href=/todo/>Back</a>
</div>
<div id="topright">
   
    <a href="/logout/"> logout </a>
</div><br>

</div>
<fieldset>
<legend>To-Do List</legend>
<table> 
<tr><td>{% if info %}<p style="color:green">{{info}}{% endif %} </td></tr>
<tr>    
 	<th>subject</th>
</tr>   
{% for entry in entrys %}
<tr>
            
<td><a href=/show/{{entry.item_id}}/>{{entry.subject}}</a></td><td><a href=/delete_item/{{entry.item_id}}/><img height="15px" width="15px"  src="/static/images/delete.jpg" alt='delete'></a>{% if msg %} <p style="color:red">{{msg}}</p> {% endif %}</td>
{% endfor %}

</tr>

</table>

</fieldset>
<div id="deleteall">
<form method='get' action='/delete/'>

<input type="submit" class="button"  value="Delete All">

</form>
</div>
</body>
</html>
