<html>
<head><title>ToDo list</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/ui-lightness/jquery-ui-1.7.2.custom.css">
    <script type="text/javascript" src="/static/js/jquery-1.3.2.js"> </script>
    <script type="text/javascript" src="/static/js/functionqry.js"> </script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.7.2.custom.min.js" ></script>
</head>

<body> 
<div id="top">
<div id="user">Hi {{user|title}}</div> 

<div id="topright">
   
    <a href="/logout/"> logout </a>
</div><br>
</div>
 
<div id="header">
    <h1 onmouseover="style.color='blue'" onmouseout="style.color='white'">TO-DO Entry</h1>
</div>
<div id="topright">
 <a href="/getfromdb/">list </a></div>

<div align="center">

<div class="todo">

{% if noerror %}
      <p style="color:green">{{noerror}}
{% endif %}
{% if error %}
       {% for errors in error %}
      <p style="color:red;">{{errors}}
       {% endfor %}
{% endif %}


<form  action="/entrytodb/" method="POST" >
<table><tr><td></tr>
<tr><td>Subject </td><td> <input type="text" name="subject" ></td></tr>
<tr><td>Due Date</td><td title="yyyy/mm/dd"> <input type="text" name="date" id="id_date" size="10"/></td></tr>
<tr><td>Priority</td><td> <select id="id_priority" name="priority">
               
		<option value="H">High</option>
		<option value="M">Medium</option>
		<option value="L">Low</option>
	      </select></td></tr>

<tr><td><input type="submit" value=" ADD "><input type="reset" value="RESET"></td></tr>
</table>
</form>
</div>
</div>




</body>
</html>
