<html>
<head><title>ToDo list</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/ui-lightness/jquery-ui-1.7.2.custom.css">
    <script type="text/javascript" src="/static/js/jquery-1.3.2.js"> </script>
    <script type="text/javascript" src="/static/js/functionqry.js"> </script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.7.2.custom.min.js" ></script>
</head>

<body> 
<div id="top">
<div id="user">Hi {{user|title}}</div> 

<div id="topright">
   
    <a href="/logout/"> logout </a>
</div><br>
</div>
 
<div id="header">
    <h1 onmouseover="style.color='blue'" onmouseout="style.color='white'">Update TO-DO list</h1>
</div>
<div id="topright">
 <a href="/getfromdb/">list </a></div>
<div align="center">
<div class="todo">

{% if info %}
      <p style="color:green">{{info}}
{% endif %}
{% if error %}
       {% for errors in error %} 
      <p style="color:red;">{{errors}}
       {% endfor %}
{% endif %}
{% if entrys  %}
      {% for entry in entrys %} 
	 
<form  action="/update/{{entry.item_id}}/" method="POST" >
<table>
<tr><td><td></tr>
<tr><td>Subject </td><td> <input type="text" name="subject" value="{{entry.subject}}"></td></tr>
<tr><td>Due Date</td><td> <input type="text" name="date" id="id_date" size="10" value="{{entry.date}}"></td></tr>
<tr><td>Priority</td><td> <select id="id_priority" name="priority">
                <!-- <option selected>{{entry.get_priority_display}}</option> --> 
		<option value="H" {% ifequal entry.priority "H" %} "selected" {% endifequal %}>High</option>
		<option value="M" {% ifequal entry.priority "M" %} "selected" {% endifequal %} >Medium</option>
		<option value="L" {% ifequal entry.priority "L" %} "selected" {% endifequal %}>Low</option>
	      </select></td></tr>
        
       {% endfor %}
{% endif %}

<tr><td><input type="submit" value="update"></td></tr>
</table>
</form>
</div>
</div>
</body>
</html>
